langchain
ipykernel
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
yfinance
langchain-openai
chromadb
ollama
sentence_transformers
langchain_huggingface
torch==2.3.1
faiss-cpu
langchain_chroma
streamlit
langchain_groq
fastapi
uvicorn
langserve
sse_starlette
wikipedia
duckduckgo-search
mysql-connector-python
SQLAlchemy
langchain_nvidia_ai_endpoints
validators==0.28.1
youtube_transcript_api
unstructured
pytube